# Homework # 1 - Logistic Regression
Data file: breast_cancer_diagnosis.csv

### Import libraries

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

### Load data

In [2]:
# Read data from file (breast_cancer_diagnosis.csv) into dataframe
breast_cancer_diagnosis = pd.read_csv('data/breast_cancer_diagnosis.csv')

### Examine data

In [3]:
# Review dataframe shape
breast_cancer_diagnosis.shape

(569, 13)

In [4]:
# Display first 10 rows
breast_cancer_diagnosis.head(10)

,id,name,radius,texture,perimeter,area,smoothness,compactness,concavity,symmetry,fractal_dimension,age,diagnosis
0,ID842302,Glynnis Munson,NaN,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.2419,0.07871,35,1
1,ID842517,Lana Behrer,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.1812,0.05667,27,1
2,ID84300903,Devondra Vanvalkenburgh,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.2069,0.05999,31,1
3,ID84348301,Glory Maravalle,NaN,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.2597,0.09744,49,1
4,ID84358402,Mellie Mccurdy,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.1809,0.05883,20,1
5,ID843786,Merle Yelon,NaN,15.70,82.57,477.1,0.12780,0.17000,0.15780,0.2087,0.07613,39,1
6,ID844359,Corrianne Banzett,18.25,19.98,119.60,1040.0,0.09463,0.10900,0.11270,0.1794,0.05742,38,1
7,ID84458202,Noni Marcellino,NaN,20.83,90.20,577.9,0.11890,0.16450,0.09366,0.2196,0.07451,28,1
8,ID844981,Kacy Meltzer,NaN,21.82,87.50,519.8,0.12730,0.19320,0.18590,0.2350,0.07389,50,1
9,ID84501001,Elka Ortolani,NaN,24.04,83.97,475.9,0.11860,0.23960,0.22730,0.2030,0.08243,60,1

Note: NaN in radius column

### Prepare data

### Check for missing values

In [5]:
breast_cancer_diagnosis.isnull().sum()

id                    0
name                  0
radius               71
texture               0
perimeter             0
area                  0
smoothness            0
compactness           0
concavity             0
symmetry              0
fractal_dimension     0
age                   0
diagnosis             0
dtype: int64

### Handle missing values
NOTES:
* You cannot drop the column with missing values
* You cannot drop the rows with missing values
* You cannot replace the missing values with 0  

Remember to use "inplace=True"

In [6]:
# Figure out strategy to replace values where radius is NaN
breast_cancer_diagnosis[breast_cancer_diagnosis['radius'].isnull()]
breast_cancer_diagnosis.fillna(breast_cancer_diagnosis['radius'].mean())

,id,name,radius,texture,perimeter,area,smoothness,compactness,concavity,symmetry,fractal_dimension,age,diagnosis
0,ID842302,Glynnis Munson,14.326635,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.2419,0.07871,35,1
1,ID842517,Lana Behrer,20.570000,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.1812,0.05667,27,1
2,ID84300903,Devondra Vanvalkenburgh,19.690000,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.2069,0.05999,31,1
3,ID84348301,Glory Maravalle,14.326635,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.2597,0.09744,49,1
4,ID84358402,Mellie Mccurdy,20.290000,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.1809,0.05883,20,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,ID926424,Liz Babb,21.560000,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.1726,0.05623,18,1
565,ID926682,Silvana Shen,20.130000,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.1752,0.05533,24,1
566,ID926954,Sunny Hiorns,16.600000,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.1590,0.05648,21,1
567,ID927241,Colline Beade,20.600000,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.2397,0.07016,41,1
568,ID92751,Rita Ryan blanco,7.760000,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.1587,0.05884,37,0

In [7]:
# Replace values where radius is NaN based on above strategy
breast_cancer_diagnosis_new = breast_cancer_diagnosis.fillna(breast_cancer_diagnosis['radius'].mean())

### Check for missing values again

In [8]:
breast_cancer_diagnosis_new.isnull().sum()

id                   0
name                 0
radius               0
texture              0
perimeter            0
area                 0
smoothness           0
compactness          0
concavity            0
symmetry             0
fractal_dimension    0
age                  0
diagnosis            0
dtype: int64

### Drop non-numeric variables
Remember to use "inplace=True"

In [9]:
non_numeric_columns = breast_cancer_diagnosis_new.select_dtypes(exclude='number')
non_numeric_columns.columns
breast_cancer_diagnosis_new.drop(non_numeric_columns, axis=1, inplace=True)
breast_cancer_diagnosis_new.shape

(569, 11)

### Review updated dataframe

In [10]:
# Display first 10 rows
breast_cancer_diagnosis_new.head(10)

,radius,texture,perimeter,area,smoothness,compactness,concavity,symmetry,fractal_dimension,age,diagnosis
0,14.326635,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.2419,0.07871,35,1
1,20.570000,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.1812,0.05667,27,1
2,19.690000,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.2069,0.05999,31,1
3,14.326635,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.2597,0.09744,49,1
4,20.290000,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.1809,0.05883,20,1
5,14.326635,15.70,82.57,477.1,0.12780,0.17000,0.15780,0.2087,0.07613,39,1
6,18.250000,19.98,119.60,1040.0,0.09463,0.10900,0.11270,0.1794,0.05742,38,1
7,14.326635,20.83,90.20,577.9,0.11890,0.16450,0.09366,0.2196,0.07451,28,1
8,14.326635,21.82,87.50,519.8,0.12730,0.19320,0.18590,0.2350,0.07389,50,1
9,14.326635,24.04,83.97,475.9,0.11860,0.23960,0.22730,0.2030,0.08243,60,1

### Separate independent and dependent variables
* Independent variables: All remaining variables except Diagnosis
* Dependent variable: Diagnosis

In [11]:
# Prepare dataset for model training
X = breast_cancer_diagnosis_new.iloc[:, :-1]   
y = breast_cancer_diagnosis_new.iloc[:, -1]

### Split data into training and test sets

In [12]:
# Split data into training data and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=50)

### Train LogisticRegression model

In [13]:
# Train model
model = LogisticRegression(max_iter = 10000)
model.fit(X_train, y_train)

LogisticRegression(max_iter=10000)

### If above results in error, review error message, look up documentation for LogisticRegression, and change model hyperparameter appropriately

In [14]:
# Train model again

### Test model

In [15]:
# Generate predictions against the test set
predictions = model.predict(X_test)

### Model evaluation

In [16]:
# Print classification report
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.96      0.88      0.92        90
           1       0.82      0.94      0.88        53

    accuracy                           0.90       143
   macro avg       0.89      0.91      0.90       143
weighted avg       0.91      0.90      0.90       143

In [17]:
# Print model accuracy
accuracy = model.score(X_test, y_test)
print("accuracy =", round((accuracy * 100), 2), "%")

accuracy = 90.21 %